@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("facebook.com") {

    .stageWrapper.lfloat._ohe, .stageWrapper.lfloat._ohe * {
        /* fix image display in shadowbox view */
        background-color: transparent !important;
    }

    #photoborder * {
        /* fix image display in theatre view */
        background-color: transparent !important;
    }

    ._52c6 {
        /* show article information below posts containing links */
        position: relative !important;
    }

    /* Input boxes and ogin button */
    .uiButtonConfirm, #u_0_v {
        background-color: #2F477A !important;
        background-image: none !important;
    }

    .inputtext {
        background-color: #f9f9f9 !important;
        border-color: #2F477A !important;
        color: #0a0a0a !important;
    }

    #u_0_d > ._58mt {
        color: #DADADA !important;
    }

    /* Top bar (home) */
    ._4f7n {
        background-image: none !important;
        background-color: #3A5795 !important;
    }

    #userNavigationLabel, #privacyFlyoutLabel {
        filter: invert(100%) !important;
    }

}
