@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document
    url-prefix(http://www.google),
    url-prefix(https://www.google),
    url-prefix(http://google),
    url-prefix(https://google),
    url-prefix(http://images.google),
    url-prefix(https://encrypted.google)
{

    .gb_b {
        background: transparent -moz-linear-gradient(center top , #444444, #444444) repeat scroll 0% 0% !important;
    }

    .gb_Ca {
        color: #004270 !important;
    }

    .gb_Ca:hover {
        color: #fefefe !important;
        text-decoration: underline !important;
    }

    .jhp input[type="submit"] {
        background-image: none !important;
        border: #DADADA !important;
    }

    /* Logo */
    #hplogo {
        background: url(
            https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png)
                no-repeat scroll 0% 0% / 269px 95px #2B2B2B !important;
    }
    #lga > img {
        padding-top: 95px !important;
        height: 0px !important;
        margin-top: 110px !important;
    }

    /* Apps icon */
    .gb_pa a {
        color: #00afeb !important;
    }
    #gbwa  > div:nth-child(1)  > *:nth-child(1)  {
        background-image: url(
                      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAPklEQVRIx2P8//8/w0AAFoYBAqMWj1o8YBaj5zVGMsVHg3rgLGYcLTJHU/Voqh5N1aOpejRVjwb1qMUjx2IA2yIVYf6bcqkAAAAASUVORK5CYII=
                      ) !important;
        background-position: 0px 0px !important;
        background-size: 30px 30px !important;
        opacity: 0.40;
    }
    .gb_qb.gb_2.gb_rb {
        background-image: url(
                data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA10lEQVRIx+2XQQqDMBBFE5AewoULwTO0C88mLryCvYQ3qB7IfUuhq9fNZNFi1aTR0JK/SSCfeTCZ8IlSAQSoRAVSBP8/2GYSG+AKND6mWluYMXuttf4WvMZUAh2v6oByEzCQAC3zaoHEN9hAb0AF5MBB1hq4y/nZG1jaa6DHD56TnGPb9jmwudNqoUBt7twXeJSC+UKBXHyjLzCsmnk7b0ynCA6WQqnLVAOp83MCCqDHTT1QOMWi7Xuc0prI9IDZMI/FeHlr67AXOAMG4CFrtgs4/iR+GvwEXV+FhDzXQxQAAAAASUVORK5CYII=
                      ) !important;
        background-position: -100px 0px !important;
        background-size: 20px 20px !important;
   }

   /*  SEARCH BY IMAGE INPUT ICON  */
   .gssi_a { background: url(
                data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAjklEQVQ4y8WTSw2AMAyGvybImBGEgBDQAUJACAiZj3Lpkh32aLIDPbbp/+omqi8jNTVm2piJB8CtoMYUgQ24s94CnPnO1FhegcdADmC35QhcQAAQ1VczTwl5NWat+F8MpKrgNuZSbaaEXEGJpXcF7V1hN++lPj0FwxmktKVwhdmTQe8dBA/A8F9wA8ivCj4qRjUmnc9IfwAAAABJRU5ErkJggg==
                ) no-repeat scroll center center transparent !important;
        height: 16px !important;
        width: 16px !important;
        margin-top: 2px !important;
    }
    /*  VOICE INPUT ICON  */
    .gsri_a {background: url(
                data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAmCAYAAADX7PtfAAAB4ElEQVRYR+1XoY4CMRCdzRn4BCDhF85AcuY8CAQCPgCNBElCggSJ5gMWgUCAP8QlYO4XEPAJYC69vM110862TGHtVm5n5u2bmXZeIwpct9tNbbdbWq1WtNtNE692e0qDwYA6nQ6Vy+UoJFSQEcC63W4KxAMDeLPZBIEGAbZaLaVZ+VgAdL/fi/FEgziOVa9XD8kWrddn6vf7D2OKgJwdmKCOWKifyTyEpQio1Lcy6V2vdapWq4nf5XJRlcrZYh9FH/kYckAeUNrntXiaYQFY1LBoGpLOmbRfnMPMVJBSJu1nUsod7vd3a5DmubwxuEulH/ty5wFPpzdqNpvpcckznpzThAfkQzTPAOa+mJfRfD5Xo9FnSts1RF+VGNxvsfii6Hg8qkbj18qzOWSx8YqIcqUT5Upq5aqTSxAhRS6Z6NIxvpgJoKtOoD8ej8W71qWueJlgo3vD242mUZBk+zdygZl9kQK6cq7VNdKohZMPHP5cxWlbsyeslLkaSDvhL2ezGdVqNUu1HQ4HS/7zH+LnOlOjR6DPpBa2HAzfnE0B0Mlk4n1LSMA6G+aNpX28XYizt1wuybwUJCDso7uHw6H3YSO2vflMQ0D+qAEbrNBnmwjIWT07jrh/AZjpkyKl0tH5A6WNoZfRfCu/AAAAAElFTkSuQmCC
                ) no-repeat center !important;
        background-size: 14px 19px !important;
        height: 23px !important;
        width: 17px !important;
        display: inline-block;
    }

    /* image thumbnails */
    #res .g img, #ImgContent td img {
        border: none !important;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8) !important;
    }


    /* Nav Icons for tweets */
    ._e7g, ._f7g {
        filter: invert(100%) !important;
    }

    /* Search button */
    #sblsbb {
        background-color: #4D90FE !important;
    }

    #sblsbb:hover {
        background-color: #3B78E7 !important;
    }
}
