@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.linkedin.com") {
    body * {
        background-color: transparent !important
    }
    div {
        background: none #000 !important;
    }
    UL[class*="sub-nav"] {
        background-color: #111 !important;
    }
    UL[id="nav-profile-lang-list"] {
        background-color: #000 !important;
    }
    /* strength level idicator */
    img[class="mask"] {
        background-color: transparent !important;
    }
    span[class="fill"] {
        background-color: #4488BB !important;
    }
    .field-text {
        border: none !important;
    }
    .letter-divider {
        background: none !important;
    }
    /* contacts tags editor */
    #abook-tag-widget,
    #abook-tagging-dialog,
    #tag-list-container {
        background-color: #000 !important;
    }
    #tag-list,
    .action-links,
    .selected-set > ol > li {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        -ms-filter: invert(100%);
        -o-filter: invert(100%);
    }
}
